#*
Name and email are mandatory, since they are almost always required for proper documentation. The homepage is optional,
leave it to `FALSE` if you do not use it. Make sure that you don't include any newlines in this file, otherwise they are
included in the output as well.
*#
#set( $AUTHOR_NAME = '' )
#set( $AUTHOR_EMAIL = '' )
#set( $AUTHOR_HOMEPAGE = false )