#set( $PROJECT_COPYRIGHT = $PROJECT_NAME )
#set( $PROJECT_GITHUB    = 'https://github.com/MovLib/www' )
#set( $PROJECT_HOMEPAGE  = 'https://movlib.org/' )
#set( $PROJECT_LICENSE   = 'AGPL-3.0' )
#set( $PROJECT_VERSION   = '0.1.0-dev' )
#set( $PROJECT_YEAR      = '2013-present' )